<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @hero.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @hero.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @hero.title %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @hero.bio %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @hero.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @hero.updated_by %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heroes_path %>
